html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Header */
header a.btn-link {
    font-size: 1rem;
    color: #36b2a3;
    font-weight: bold;
    text-decoration: none;
}

header a.btn-link:hover {
    color: #2a9484;
    text-decoration: none;
}

header {
    width: 100%;
    position: relative;
}

/* Footer */
footer {
    background-color: #36b2a3;
    color: white;
    padding: 20px;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: auto;
}

footer p {
    margin: 0;
}

footer p:first-child {
    font-size: 1.25rem;
}

.outer-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.pb-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:40px
}

.container_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.content-section {
    max-width: 600px;
}

.image-section img {
    max-width: 100%;
    height: 70vh;    
}

/* Typography */
.main-heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}

.sub-heading {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.navbar-brand {
    font-size: 2rem; 
    font-weight: 700;
    color: #36b2a3 !important;
    letter-spacing: 1px;
}

    .navbar-brand:hover {
        color: #2a9484 !important;
    }

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: #36b2a3 !important;
    margin-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

    .navbar-nav .nav-link:hover {
        color: #2a9484 !important;
    }

.nav-link.dropdown-toggle::after {
    display: none;
}

.nav-link i {
    color: #36b2a3; 
    font-size: 1.8rem;
    transition: color 0.3s ease;
}


.nav-link:hover i {
    color: #2a9484 !important;
}

.dropdown-header {
    font-size: 1rem;
    font-weight: bold;
    color: #36b2a3;
    padding: 8px 15px;
}

/* Dropdown Logout Button Styling */
form .logout-item {
    border: none;
    background: none;
    color: #dc3545; /* Red for logout */
    width: 100%;
    text-align: left;
    padding: 8px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1rem;
}

    form .logout-item:hover {
        background-color: #36b2a3;
        color: #ffffff;
        cursor: pointer;
    }


/* Forms */
.form-title {
    font-size: 1rem;
    font-weight: 600;
    color: #36b2a3;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
    color: #666;
    font-size: 1.2rem;
}

.form-control {
    padding-left: 45px;
    height: 50px;
    border-radius: 25px;
    background-color: #e7e7e7;
    border: 1px solid transparent;
}

    .form-control:focus {
        border-color: #36b2a3;
        outline: none;
        box-shadow: 0 0 5px rgba(54, 178, 163, 0.5);
    }

option {
    background-color: #e7f2f0;
    color: #2a9484;
}

    option:hover {
        background-color: #36b2a3 !important;
    }


select option:hover,
select option:focus {
    background-color: #36b2a3 !important;
    color: white;
}


/* Search button */
.search-button {
    background-color: #36b2a3;
    border: none;
    border-radius: 25px;
    padding: 10px 0;
    font-size: 1rem;
    width: 100%;
    color: white;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: #2a9484;
    }

/* Form links */
.form-links a, .signup-link a {
    color: #36b2a3;
    text-decoration: none;
    font-weight: bold;
}


/* Login */
.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

.welcome-section {
    flex: 1;
    background-color: #36b2a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

    .welcome-section h1, .welcome-section h2 {
        margin: 0;
    }

.login-form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

    .login-form-section h2 {
        color: #36b2a3;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

.login-button {
    background-color: #36b2a3;
    border: none;
    border-radius: 25px;
    padding: 10px 0;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    color: white;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2a9484;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}



/* Utility Classes */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

a {
    color: #0077cc;
}

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-word;
    }

button.accept-policy {
    font-size: 1rem;
}
