@{
    ViewData["Title"] = "Home - FluffFix";
}

    <div class="container_main d-flex align-items-center justify-content-between">
        <div class="content-section">
            <div class="text-left">
                <h1 class="main-heading">Discover Expert Pet Services Tailored for Your Companion</h1>
                <p class="sub-heading">
                    Give Your Pet the Royal Treatment! Book Trusted Local Experts for Grooming, Training, and More –
                    All Tailored to Keep Your Furry Friend Happy and Healthy!
                </p>
            </div>

            <form asp-controller="PetServiceProvider" asp-action="SearchProvidersByCriteria" method="get">
            <div class="form-group mb-3 position-relative">
                <span class="form-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                <select class="form-control pl-5" id="category" name="category">
                    <option value="" selected>Select a service</option>
                    <option value="Grooming">Grooming</option>
                    <option value="Training">Training</option>
                    <option value="Boarding">Boarding</option>
                    <option value="Veterinary">Veterinary</option>
                </select>
            </div>

            <!-- Location with Map Marker Icon -->
            <div class="form-group mb-3 position-relative">
                <span class="form-icon"><i class="fa-solid fa-location-dot"></i></span>
                <input type="text" class="form-control pl-5" id="location" name="location" placeholder="Location">
            </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary search-button">Search</button>
                </div>
            </form>
        </div>

        <div class="image-section d-flex align-items-center justify-content-center">
            <img src="~/images/pet_image.png" alt="Cute Dog" class="img-fluid pet-image">
        </div>
    </div>
